/*header*/
header{
    background-image:url(images/central_park.jpg);
    background-repeat: no-repeat;
    height: 400px;
    background-size: 1500px;
    background-position:0-200px ;
    padding: 100px;
    font-size: 100px;
    color: aquamarine;
    font-weight: 100px;
    font-family: Arial, Helvetica, sans;
    margin: 0;
}

li{
    list-style-type: none;
    display: inline;
    padding: 0 20px;
}

a{
    text-decoration: none;
}

a:link{
    color:rgb(235, 124, 20)
}

a:visited{
    color:#818db3;
}

a:hover{
    color:rgb(184, 31, 31);
}

a:active{
    color: rgb(20, 243, 91);
}

nav{
    background-color: #f0f0d6;
    height:50px;
    padding-top:15px;
    padding-bottom: 15px;
    text-align: center;
    margin: 0;
}

/*main content*/
main {
    margin:50px; /*top, right, bottom,left*/
    

    
}

main h1{
    font-size: 50px;
    color: aquamarine;
    font-family: Arial;

    }

table{
    margin-top:35px;
    border:solid 1px rgb(39, 24, 205);

    }

table,td,caption,th{
        
        border:solid 1px cadetblue;
    
        }
th, td{
    width:150px;
    height:35px;
}

caption{
    text-transform: capitalize;
    font-weight: 600;
    height: 40px;
    color: crimson;
    padding-top: 15px;
}

label{
    display:block;
    margin:15px 0 0 0;
}

input{
    width:300px;
    height: 25px;

}

input[type="radio"]{
    width: 25px;
}

input[type="submit"]{
    display:"block";
    margin:20px 0 10px 0;
    width: 100px;
}
textarea{
    width: 300px;
    height: 100px;
}


/*Main content - Gallery */

main #album #photo img{
    width:400px;
}








/*footer*/
footer{
    height: 40px;
    color: #818db3;
    text-align: center;
    padding-top: 20px;
    background-color: bisque;
    

}


